body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
